// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
$mint: rgb(217, 245, 232);
$teal: rgb(55, 203, 194);
$gold: rgb(255, 187, 51);
$tomato: rgb(255, 99, 71);
$weight: 65%;



// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";
